@import url("bootstrap/css/bootstrap.css");

a {
    color: white;
}

.sub-logo {
    color: white;
}

@font-face {
    font-family: "Kaushan Script";
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'), url(fonts/font.woff) format('woff');
}

.logo {
    font-family: "Kaushan Script", cursive;
    color: white;
    text-shadow: 0 0 15px black;
    margin: 15px;
    font-size: 48px;
}

div.main {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -268px 0 0 -695px;
}

.hidden {
    opacity: 0.001;
}

#sun {
    position: absolute;
    height: 130px;
    top: 40px;
    left: 400px;
}

.circle {
    position: absolute;
    border-radius: 100%;
}

.bordered {
    border: 3px solid rgb(0, 255, 102);
}

#circle {
    margin-left: 750px;
    margin-top: 60px;
}

.line {
    width: 260px;
    height: 4px;
    position: absolute;
    margin-left: 531px;
    margin-top: 90px;
    z-index: 999;
    border-radius: 2px;
}

#firstRay {
    margin-left: 520px;
    z-index: 999;
}

body {
    background: url("img/bg.png");
}

.colors {
    width: 20px;
    position: absolute;
    background: -webkit-linear-gradient(bottom, red, orange, yellow, green, blue, indigo, violet);
    background: -moz-linear-gradient(bottom, red, orange, yellow, green, blue, indigo, violet);
    height: 36px;
    margin-top: 46px;
    margin-left: 954px;
}

.bg {
    background: -webkit-linear-gradient( bottom, rgb(255, 255, 255), rgb(197, 245, 251));
    background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(166, 236, 247));
    position: absolute;
    width: 720px;
    height: 340px;
    margin-left: 332px;
    margin-top: 25px;
    box-shadow: 0 0 19px black;
    border-radius: 2px;
}

.bordered {
    border: 3px solid rgb(0, 59, 122);
}
body{
    background: linear-gradient(to right , black 0%, gray 50%, black 100%);
}
body:hover{
    background: linear-gradient(to right , rgb(13, 5, 16) 0%, rgb(13, 15, 32) 50%, rgb(43, 43, 43) 100%);
}
.bg:hover{
    background: linear-gradient(to right , aqua 0%, rgb(181, 255, 254) 50%, rgb(144, 237, 247) 100%);
}
